.jumbotron.text-center
	h1 MEAN Stack Movies
		p "{{ tagline }}"
.pre
	code $ git clone https://github.com/jewkesy/meanMovies.git meanMovies
	br
	code $ cd meanMovies
	br
	code $ npm install
	br
	code $ bower install
	br
	code $ npm start
	br
	code // magic happens on http://localhost:8080
hr
.text-center
	img.img-responsive(src="./images/mean_small.png")



